/* ACCORDION MENU */
@import url("https://fonts.googleapis.com/css?family=Sofia");

:root {
  --body-bg: #beb9b9;
  --border: #ddd;
  --shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  --icon-bg: #dedede;
}

body {
    font-family: "sofia";
    background: var(--body-bg);
    color: #444;
    display: grid;
    place-items: center;
    margin-top: 50px;
}
/* place-items:center; is used to center align the menu. VAR to call the background variable defined in :ROOT,MARGIN-TOP to bring content lower on the page. FONT-FAMILY: SOFIA, is used to call the font we imported at the begining of the lesson.*/
/* STYTLING THE CLASS TAGS */
.accordion_content {
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--shadow);
    border-radius: 8px;
}
.accordion_item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  background: var(--body-bg);
  margin-bottom: 0.5em;
}
.item_header {
  display: flex;
  justify-content: space-between;
  column-gap: 0.2em;
}
.item_icon {
  margin-top: 1em;
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: var(--icon-bg);
  cursor: pointer;
  box-shadow: var(--shadow);

}
