#Car {
    color: #696cff;
  }
  #Design {
    color: #9a111173;
  }
  .Design {
    justify-content: center;
    margin-left: 4px;
  }
  .Dsg{
   color: #11230189;
  }
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }
.container {
    width: 300px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
}
.year-month {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: dodgerblue;
  color: white;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: black;
  color: white;
}
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #efefef;
  padding: 5px 0px;
}
.col {
  display: flex;
  /* width: 14%; */
  text-align: center;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.today {
  /* border-bottom: 20px solid dodgerblue; */
  box-shadow: 0px 0px 4px rgb(100, 100, 100, 0.2);
  background-color: white;
}

